alembic
beautifulsoup4
fastapi
google-api-python-client
google-auth
google-auth-oauthlib
gunicorn
joblib
lightgbm
numpy
openai
pandas
pydantic
python-dotenv
requests
scikit-learn
scipy
sqlalchemy
uvicorn
